

@media screen and (min-width: 1620px) and (max-width:1950px) {

    .main-loja {
        margin-top: -4%!important;
        padding-bottom: 6%!important;
    }

    #nav-mid ul {
        margin-left:12%;
        font-size: 40px!important;
    }

    .cart button {
        width: 100px;
        font-size: 17px;
    }

    .cart {
        margin-top: 6.3%!important;
        margin-right: 21.6%!important;
        padding-top: 0!important;
    }

    .cart div {
        font-size: 23px;
    }

    .footer-bottom {
        font-size: 20px!important;
    }
    .sobre-texto {
        margin-top: 2%!important;
       }
    .lista {
        margin-top:-3%!important;
    }

    .footer-logo {
        display: none!important;


    }

    .submenu li {
        margin-bottom: 16%;
        text-align: center;
        font-size: 24px;
    }

    .menu-lateral {
        margin-top: 13%!important;
        text-align: center;
        
    }

    footer {
        font-size: 24px;
    }
    .footer-social {
        margin-left: -4.3%!important;
    }
}

@media screen and (min-width: 1367px) and (max-width:1619px) {

    .main-loja {
        padding-bottom: 6%!important;
    }

    #nav-mid ul {
        margin-left:12%;
        font-size: 30px!important;
    }

    .lista {
        margin-top: 4%!important;
    }
    .cart {
        margin-right: 22%!important;
        padding-top: 0!important;
        margin-top: 7%!important;
    }
    .cart div {
        font-size: 23px;
    }

    .cart button {
        width: 100px;
        font-size: 17px;
    }

    .footer-bottom {
        font-size: 20px!important;
    }
    .sobre-texto {
        margin-top: 2%!important;
       }
    .lista {
        display: flex;
        position: relative;
        top:-200px;
    }

    .footer-logo {

        display: none!important;

    }

    .submenu li {
        margin-bottom: 16%;
        text-align: center;
        font-size: 18px;
    }

    .menu-lateral {
        padding-bottom:10!important;
        margin-top: 8%!important;
        text-align: center;
        
    }

    footer {
        font-size: 18px;
    }

    .footer-bottom {
        font-size: 16px;
    }
    .footer-social {
        margin-left: -4%!important;
    }
}

@media screen and (min-width: 1283px) and (max-width:1366px) {


    .sobre-texto {
        margin-top: 2%!important;
       }
    .sobre-texto a {
        overflow-wrap: break-word;
       }
       .main-contato {
        margin:0!important;
        padding: 0!important;
        display: flex;
        flex-direction: column;
        text-align: center!important;
        transform: scale(1.0);
        width: 100%;
        margin-top: -20%!important;
    }

    .main-contato p{
        font-size: 30px;
    }

    .contato-container {
        margin-top: 30%;
        margin-bottom:20%;
    }
    fieldset {
        transform: scale(1.0);
        margin-bottom:5%!important;
    }

    .form-container {
        margin-bottom: 330px!important;
    }
    .main-loja {
        padding-bottom: 6%!important;
        margin-top: 1%!important;
    }

    #nav-mid ul {
        margin-left:12%;
        font-size: 30px!important;
    }

    .cart {
        margin-right: 17%!important;
        padding-top: 0!important;
        margin-top: 5.9%!important;
    }
    .cart div {
        font-size: 23px;
    }

    .cart button {
        width: 100px;
        font-size: 17px;
    }

    .footer-bottom {
        font-size: 20px!important;
    }
    .sobre-texto {
        margin-top: 2%!important;
       }
    .lista {

        display: flex;
        position: relative;
        top:-250px;
    }

    .footer-logo {

        display: none!important;

    }

    .submenu li {
        margin-bottom: 16%;
        text-align: center;
        font-size: 18px;
    }

    .menu-lateral {
        padding-bottom:10!important;
        margin-top: 8%!important;
        text-align: center;
        
    }

    footer {
        font-size: 18px;
    }

    .footer-bottom {
        font-size: 16px;
    }
    .footer-social {
        margin-left: -5%!important;
    }
}

@media screen and (min-width: 1257px) and (max-width:1282px) {

    .main-loja {
        padding-bottom: 6%!important;
        margin-top: 1%!important;
    }

    #nav-mid ul {
        margin-left:12%;
        font-size: 30px!important;
    }

    .cart {
        margin-right: 15.2%!important;
        padding-top: 0!important;
        margin-top: 6.3%!important;
    }
    .cart div {
        font-size: 23px;
    }

    .cart button {
        width: 100px;
        font-size: 17px;
    }

    .footer-bottom {
        font-size: 20px!important;
    }
    .sobre-texto {
        margin-top: 2%!important;
       }
    .lista {

        display: flex;
        position: relative;
        top:-330px;
    }

    .footer-logo {

        display: none!important;

    }

    .submenu li {
        margin-bottom: 16%;
        text-align: center;
        font-size: 18px;
    }

    .menu-lateral {
        padding-bottom:10!important;
        margin-top: 8%!important;
        text-align: center;
        
    }

    footer {
        font-size: 18px;
    }

    .footer-bottom {
        font-size: 16px;
    }
    .footer-social {
        margin-left: -4%!important;
    }
}

    




@media screen and (min-width: 1000px) and (max-width:1256px) {

    .main-contato {
        margin:0!important;
        padding: 0!important;
        display: flex;
        flex-direction: column;
        text-align: center!important;
        transform: scale(1.0);

    }

    .main-contato p{
        font-size: 30px;
    }

    .contato-container {
        margin-top: 10%;
        margin-bottom:20%;
    }
    fieldset {
        transform: scale(1.0);
        margin-bottom:5%!important;
    }

    .form-container {
        margin-bottom: 330px!important;
    }
    .main-loja {
        margin-top: 1%!important;
    }

    #nav-mid ul {
        margin-left:12%;
        font-size: 30px!important;
    }

    .cart {
        margin-right: 7%!important;
        padding-top: 0!important;
        margin-top: 6.3%!important;
    }
    .cart div {
        font-size: 18px;
    }

    .cart button {
        width: 100px;
        font-size: 15px;
    }

    .footer-bottom {
        font-size: 20px!important;
    }
    .sobre-texto {
        margin-top: 2%!important;
       }
    .lista {

        display: flex;
        position: relative;
        top:-450px;
    }

    .item {
        font-size: 13px;
        width: 38%!important;
    }

    .item button {
        font-size: 12px!important;
    }

    .footer-logo {

        display: none!important;

    }

    .submenu li {
        margin-bottom: 16%;
        text-align: center;
        font-size: 18px;
    }

    .menu-lateral {
        padding-bottom:10!important;
        margin-top: 8%!important;
        text-align: center;
        width: 160px!important;
        
    }

    footer {
        font-size: 18px;
    }

    .footer-bottom {
        font-size: 16px;
    }
    .footer-social {
        margin-left: -5%!important;
    }
}
@media screen and (min-width: 780px) and (max-width:999px) {
    input {
        font-size: 22px;
    }
    .main-contato p{
        font-size: 30px;
    }

    .contato-container {
        margin-top: 10%;
        margin-bottom:20%;
    }
    fieldset {
        transform: scale(1.0);
        margin-bottom:5%!important;
    }

    .form-container {
        margin-bottom: 330px!important;
    }

    .sobre-texto {
        padding-top: 6%!important;
       }

    .logo {
        transform: scale(0.8);
        margin-left: -4.3%;
    }

    .Fire-tech {
        display: none;
    }

    .main-loja {
        margin-top: -6%!important;
        max-height: 30%!important;
    }
    #nav-mid {
        padding: 60px!important;
    }
    #nav-mid ul {
        margin-left:-1%;
        font-size: 30px!important;
    }

    .cart {
        margin-right: 4.2%!important;
        padding-top: 0!important;
        margin-top: 10.3%!important;
        width: 35%!important;
    }
    .cart div {
        font-size: 18px;
    }

    .cart button {
        width: 100px;
        font-size: 15px;
    }

    .footer-bottom {
        font-size: 20px!important;
    }
    .sobre-texto {
        margin-top: 2%!important;
       }
    .lista {

        display: flex;
        position: relative;
        top:-510px;
        min-width: 400px!important;
        margin-left: 30%!important;
        padding-bottom: 0!important;
    }

    .item {
        font-size: 13px;
        width: 48%!important;
    }

    .item button {
        font-size: 12px!important;
    }

    .footer-logo {

        display: none!important;

    }

    .submenu li {
        margin-bottom: 16%;
        text-align: center;
        font-size: 18px;
    }

    .menu-lateral {
        padding-bottom:10!important;
        margin-top: 18%!important;
        text-align: center;
        width: 140px!important;
        
    }

    footer {
        font-size: 18px;
    }

    .footer-bottom {
        font-size: 16px;
    }
    .footer-social {
        margin-left: -5%!important;
    }
}
@media screen and (min-width: 750px) and (max-width:779px) {
    
    input {
        font-size: 22px;
    }
    .main-contato {
        margin:0!important;
        padding: 0!important;
        display: flex;
        flex-direction: column;
        text-align: center!important;

    }

    .main-contato p{
        font-size: 30px;
    }

    .contato-container {
        margin-top: 30%;
        margin-bottom:20%;
    }
    fieldset {
        margin-left: -40%!important;
        transform: scale(1.0);
        margin-bottom:5%!important;
    }

    .form-container {
        margin-bottom: 130px!important;
    }
    .sobre-texto {
        padding-top: 6%!important;
       }
    .logo {
        transform: scale(0.8);
        margin-left: -4.3%;
    }

    .Fire-tech {
        display: none;
    }

    .main-loja {
        margin-top: -6%!important;
        max-height: 30%!important;
    }
    #nav-mid {
        padding: 60px!important;
    }
    #nav-mid ul {
        margin-left:-1%;
        font-size: 30px!important;
    }

    .cart {
        margin-right: 4.8%!important;
        padding-top: 0!important;
        margin-top: 10.3%!important;
        width: 35%!important;
    }
    .cart div {
        font-size: 18px;
    }

    .cart button {
        width: 100px;
        font-size: 15px;
    }

    .footer-bottom {
        font-size: 20px!important;
    }
    .sobre-texto {
        margin-top: 2%!important;
       }
    .lista {

        display: flex;
        position: relative;
        top:-510px;
        min-width: 400px!important;
        margin-left: 30%!important;
        padding-bottom: 0!important;
    }

    .item {
        font-size: 13px;
        width: 48%!important;
    }

    .item button {
        font-size: 12px!important;
    }

    .footer-logo {

        display: none!important;

    }

    .submenu li {
        margin-bottom: 16%;
        text-align: center;
        font-size: 18px;
    }

    .menu-lateral {
        padding-bottom:10!important;
        margin-top: 18%!important;
        text-align: center;
        width: 140px!important;
        
    }

    footer {
        font-size: 18px;
    }

    .footer-bottom {
        font-size: 16px;
    }
    .footer-social {
        margin-left: -5%!important;
    }
}
@media screen and (min-width: 700px) and (max-width:749px) {
    input {
        font-size: 22px;
    }
    .main-contato {
        margin:0!important;
        padding: 0!important;
        display: flex;
        flex-direction: column;
        text-align: center!important;

    }

    .main-contato p{
        font-size: 30px;
    }

    .contato-container {
        margin-top: 30%;
        margin-bottom:20%;
    }
    fieldset {
        margin-left: -20%!important;
        transform: scale(1.0);
        margin-bottom:5%!important;
    }

    .form-container {
        margin-bottom: 130px!important;
    }
    .sobre-texto {
        padding-top: 6%!important;
       }
    .logo {
        transform: scale(0.7);
        margin-left: -6.3%;
    }

    .Fire-tech {
        display: none;
    }

    .main-loja {
        margin-top: -6%!important;
        max-height: 30%!important;
    }
    #nav-mid {
        padding: 60px!important;
    }
    #nav-mid ul {
        margin-left:-3%;
        font-size: 24px!important;
    }

    .cart {
        margin-right: 9.2%!important;
        padding-top: 0!important;
        margin-top: 13.3%!important;
        width: 35%!important;
    }
    .cart div {
        font-size: 18px;
    }

    .cart button {
        width: 100px;
        font-size: 15px;
    }

    .sobre-texto {
        margin-top: 2%!important;
       }
    .lista {

        display: flex;
        position: relative;
        top:-440px;
        min-width: 400px!important;
        margin-left: 35%!important;
        padding-bottom: 100px!important;
    }

    .item {
        font-size: 13px;
        width: 48%!important;
    }

    .item button {
        font-size: 12px!important;
    }

    .footer-logo {

        display: none!important;

    }

    .submenu li {
        margin-bottom: 4%!important;
        text-align: center;
        font-size: 18px;
    }

    .menu-lateral {
        margin-top: 22%!important;
        text-align: center;
        width: 140px!important;
        
    }

    footer {
        font-size: 17px;
    }

    .footer-social {
        margin-left: -5%!important;
    }

    .footer-bottom {
        font-size: 16px;
    }
}
@media screen and (min-width: 598px) and (max-width:699px) {

    pre {
        font-size: 20px!important;
    }
    input {
        font-size: 22px;
    }
    .main-contato {
        margin:0!important;
        padding: 0!important;
        display: flex;
        flex-direction: column;
        text-align: center!important;

    }

    .main-contato p{
        font-size: 30px;
    }

    .contato-container {
        margin-top: 30%;
        margin-bottom:20%;
    }
    fieldset {
        margin-left: -40%!important;
        transform: scale(1.0);
        margin-bottom:5%!important;
    }

    .form-container {
        margin-bottom: 130px!important;
    }
    .sobre-texto {
        padding-top: 9%!important;
       }
    .logo {
        transform: scale(0.7);
        margin-left: -6.3%;
    }

    .Fire-tech {
        display: none;
    }

    .main-loja {
        margin-top: -6%!important;
        max-height: 30%!important;
    }
    #nav-mid {
        padding: 60px!important;
    }
    #nav-mid ul {
        margin-left:-3%;
        font-size: 24px!important;
    }
    #nav-mid li {
        margin-left:4%;
    }

    .cart {
        margin-right: 5.2%!important;
        padding-top: 0!important;
        margin-top: 13.3%!important;
        width: 35%!important;
    }
    .cart div {
        font-size: 18px;
    }

    .cart button {
        width: 100px;
        font-size: 15px;
    }

    .sobre-texto {
        margin-top: 2%!important;
       }
    .lista {

        display: flex;
        position: relative;
        top:-440px;
        min-width: 400px!important;
        margin-left: 35%!important;
        padding-bottom: 10px!important;
    }

    .item {
        font-size: 13px;
        width: 48%!important;
    }

    .item button {
        font-size: 12px!important;
    }

    .footer-logo {

        display: none!important;

    }

    .submenu li {
        margin-bottom: 4%!important;
        text-align: center;
        font-size: 18px;
    }

    .menu-lateral {
        margin-top: 22%!important;
        text-align: center;
        width: 140px!important;
        
    }

    footer {
        font-size: 17px;
    }

    .footer-social {
        margin-left: -5%!important;
    }

    .footer-bottom {
        font-size: 16px;
    }
}
@media screen and (min-width: 400px) and (max-width:597px) {

    pre {
        margin:5%!important;
        font-size: 18px!important;
    }
    .main-contato {
        margin:0!important;
        padding: 0!important;
        display: flex;
        flex-direction: column;
        text-align: center!important;

    }

    .main-contato p{
        font-size: 30px;
    }

    .contato-container {
        margin-top: 30%;
        margin-bottom:20%;
    }
    fieldset {
        margin-left: -80%!important;
        transform: scale(1.0);
        margin-bottom:5%!important;
    }
    main {
        margin:0!important;
    }
    .sobre-texto {
        padding-top: 15%!important;
        padding-left: 0;
        padding-right: 0;
        font-size: 18px!important;
       }
    .logo {

        transform: scale(0.9);
        margin-left: -5.3%;
        opacity: 0.1;
    }

    .Fire-tech {
        display: none;
    }

    .main-loja {
        margin-top: -6%!important;
        padding: 0!important;
        height: 800px!important;
    }
    #nav-mid {
        padding: 50px!important;
    }
    #nav-mid ul {
        margin-left:-14%;
        font-size: 20px!important;
    }
    #nav-mid li {
        margin-left:7%;
    }

    .cart {
        margin-right: 7.2%!important;
        padding-top: 0!important;
        margin-top: 15.3%!important;
        width: 35%!important;
    }
    .cart div {
        font-size: 18px;
    }

    .cart button {
        width: 100px;
        font-size: 15px;
    }

    .sobre-texto {
        margin-top: 2%!important;
       }
    .lista {

        display: flex;
        position: relative;
        top:-540px;
        flex-direction: column;
        margin-left: 49%!important;
        padding-bottom: 0px!important;
    }

    .item {
        font-size: 13px;
        width: 88%!important;
    }

    .item button {
        font-size: 12px!important;
    }

    .footer-logo {

        display: none!important;

    }

    .submenu li {
        margin-bottom: 4%!important;
        text-align: center;
        font-size: 15px;
    }

    .menu-lateral {
        margin-top: 28%!important;
        text-align: center;
        width: 120px!important;
        
    }

    footer {
        font-size: 14px;
    }

    .footer-social {
        margin-left: -8%!important;
    }

    .footer-bottom {
        font-size: 13px;
    }   
}
@media screen and (min-width: 300px) and (max-width:399px) {

    pre {
        margin:2%;
        font-size: 18px!important;
    }
    .main-contato {
        margin:0!important;
        padding: 0!important;
        display: flex;
        flex-direction: column;
        text-align: center!important;
        margin-top: 10%!important;
    }

    .contato-container {
        margin-top: 20%;
        margin-bottom:20%;
    }
    fieldset {
        margin-left: -100%!important;
        transform: scale(0.88);
        margin-bottom:5%!important;
    }

    .sobre-texto {
        padding-top: 16%!important;
        padding-left: 0;
        padding-right: 0;
       }

       .sobre-texto pre {
        margin: 20px;
       }
    .logo {

        transform: scale(0.9);
        margin-left: -5.3%;
        opacity: 0.1;
    }

    .Fire-tech {
        display: none;
    }

    .main-loja {
        margin-top: -6%!important;
        padding: 0!important;
        height: 800px!important;
    }
    #nav-mid {
        padding: 50px!important;
    }
    #nav-mid ul {
        margin-left:-14%;
        font-size: 20px!important;
    }
    #nav-mid li {
        margin-left:4%;
    }

    .cart {
        margin-right: 7.2%!important;
        padding-top: 0!important;
        margin-top: 15.3%!important;
        width: 35%!important;
    }
    .cart div {
        font-size: 18px;
    }

    .cart button {
        width: 100px;
        font-size: 15px;
    }

    .sobre-texto {
        margin-top: 2%!important;
       }
    .lista {

        display: flex;
        position: relative;
        top:-540px;
        flex-direction: column;
        margin-left: 49%!important;
        padding-bottom: 0px!important;
    }

    .item {
        font-size: 13px;
        width: 88%!important;
    }

    .item button {
        font-size: 12px!important;
    }

    .footer-logo {

        display: none!important;

    }

    .submenu li {
        margin-bottom: 4%!important;
        text-align: center;
        font-size: 15px;
    }

    .menu-lateral {
        margin-top: 28%!important;
        text-align: center;
        width: 120px!important;
        
    }

    footer {
        font-size: 14px;
    }

    .footer-social {
        margin-left: -8%!important;
    }

    .footer-bottom {
        font-size: 13px;
    }   
}