

@media screen and (min-width: 1620px) and (max-width:1950px) {
    

    .footer-logo img {
        display: none!important;
    }

    #nav-mid ul {

    font-size: 40px;

    }

    .main-loja {
        margin-top: -30px!important;
        margin-bottom: 30px!important;
    }

    .footer-logo img {

        bottom:2%;
        left:26%;
        overflow: hidden;

    }

    .submenu li {
        margin-bottom: 16%;
        text-align: center;
        font-size: 24px;
    }

    .menu-lateral {
        padding-bottom:10!important;
        margin-top: 9%!important;
        text-align: center;
        
    }

    footer {
        font-size: 24px;
    }
}

@media screen and (min-width: 1367px) and (max-width:1619px) {
    
    .lista {
        display: flex;
        position: relative;
        top:-200px;
    }

    .footer-logo img {
        display: none!important;
        bottom:2%;
        left:26%;
        overflow: hidden;

    }
    .footer-bottom {
        font-size: 20px!important;
    }

   .acesso li {
        font-size: 56px;

   }

    .submenu li {
        margin-bottom: 16%;
        text-align: center;
        font-size: 24px;
    }

    .menu-lateral {
        padding-bottom:10!important;
        margin-top: 8%!important;
        text-align: center;
        
    }

    footer {
        font-size: 24px;
    }
}

@media screen and (min-width: 1257px) and (max-width:1300px) {
    
    #nav-mid ul {
        margin-left: 20%!important;
        font-size: 30px;
    }

    .main-loja {
        margin-top: -67px!important;
    }
    
    .lista {
        display: flex;
        position: relative;
        top: -400px;
        width: 800px!important;
    }
    
    .item {
        width: 198px!important;
    }

    .footer-logo {
        display: none;

    }

    .submenu li {
        margin-bottom: 16%;
        text-align: center;
        font-size: 24px;
    }


    .menu-lateral {
        padding-bottom:10!important;
        margin-top: 12%!important;
        text-align: center;
        
    }

    .cart {
        top: 50px !important;
        left:73%!important;
        transform: scale(1.1);
    }

    .cart button {
        font-size: 24px;
        width: 150px;
    }

    footer {
        font-size: 24px;
    }

    .footer-bottom {
        font-size: 20px!important;
    }
}
@media screen and (min-width: 1000px) and (max-width:1256px) {
    

    #nav-mid ul {
        margin-left:20%;
        font-size: 30px;
    }

    .footer-bottom {
        font-size: 20px!important;
    }

    .cart button {
        font-size: 20px;
        width: 100px;
    }
    
    .lista {
        display: flex;
        position: relative;
        top: -260px;
        left: 5%;
    }

    .item {

        width: 30%!important;
    }

    .footer-logo {
        display: none;

    }

    .submenu li {
        margin-bottom: 16%;
        text-align: center;
        font-size: 24px;
    }

    .menu-lateral {
        padding-bottom:0px!important;
        margin-top: 9%!important;
        text-align: center;
        margin-bottom:-67%;
        
    }

    .cart {
        right:-10%!important;
        transform: scale(0.8);
    }

    footer {
        font-size: 24px;
    }
}
@media screen and (min-width: 780px) and (max-width:999px) {
    
    .main-loja {
        padding-bottom: 50%!important;
    }
    .Fire-tech {
        display: none;
    }
    .lista {
        display: flex;
        position: relative;
        top: 400px;
        left: 7%;
    
    }

    .item {

        width: 90%!important;
        font-size: 24px;
    }

    .footer-logo {
        display: none;

    }

    .submenu li {
        margin-bottom: 16%;
        text-align: center;
        font-size: 24px;
    }

    .menu-lateral {
        display: block;
        position: fixed!important;
        height: 100%;
        padding-bottom:0px!important;
        text-align: center;
        margin-bottom:-67%;
        margin-top: 21%!important;
        
    }

    .cart {
        right:-10%!important;
        transform: scale(0.9);
        top: 70px!important;
    }
    .cart button {
        font-size: 24px;
        width: 150px;
    }

    footer {
        font-size: 24px;
    }
    #nav-mid ul{
        margin-left:0px;
        width:550px;
        

    }

    #nav-mid li {
        margin-right:7%;
    }
}
@media screen and (min-width: 750px) and (max-width:779px) {

    .main-loja {
        padding-bottom: 50%!important;
    }
    
    .Fire-tech {
        display: none;
    }
    .lista {
        display: flex;
        position: relative;
        top: 300px;
        left: 9%;
    }

    .item {

        width: 90%!important;
        font-size: 24px;
    }

    .footer-logo {
        display: none;

    }

    .submenu li {
        margin-bottom: 16%;
        text-align: center;
        font-size: 24px;
    }

    .menu-lateral {
        display: block;
        position: fixed!important;
        height: 100%;
        padding-bottom:0px!important;
        text-align: center;
        margin-bottom:-67%;
        margin-top: 20%!important;
        
    }

    .cart {
        right:-15%!important;
        transform: scale(0.73);

    }

    .cart button {
        min-width: 150px!important;
        font-size: 26px;
    }

    footer {
        font-size: 24px;
    }
    #nav-mid ul{
        margin-left:0px;
        width:550px;
        

    }

    #nav-mid li {
        margin-right:7%;
    }
}
@media screen and (min-width: 700px) and (max-width:749px) {
    .main-loja {
        padding-bottom: 50%!important;
    }
    
    .Fire-tech {
        display: none;
    }
    .lista {
        display: flex;
        position: relative;
        left: 10%;
        top:300px;
    }

    .item {

        width: 90%!important;
        font-size: 24px;
    }

    .footer-logo {
        display: none;

    }

    .logo img {
        margin-left: -40%;
    }

    .submenu li {
        margin-bottom: 16%;
        text-align: center;
        font-size: 24px;
    }

    .menu-lateral {
        display: block;
        position: fixed!important;
        height: 100%;
        padding-bottom:0px!important;
        margin-top: 25%!important;
        text-align: center;
        margin-bottom:-67%;
        
    }

    .cart {
        right:-15%!important;
        transform: scale(0.6);
    }

    .cart button {

        width: 140px;
        font-size: 23px;
    }

    footer {
        font-size: 24px;
    }
    #nav-mid ul{
        margin-left:-10%;
        width:550px;
        

    }

    #nav-mid li {
        margin-right:7%;
    }

    .footer-bottom {
        font-size: 23px!important;
    }
}
@media screen and (min-width: 598px) and (max-width:699px) {
    .main-loja {
        padding-bottom: 50%!important;
    }
    
    .Fire-tech {
        display: none;
    }
    .lista {
        display: flex;
        position: relative; 
        top:300px;
        left: 9.66%;
    }

    .item {

        width: 70%!important;
        font-size: 20px;
    }

    .footer-logo {
        display: none;

    }

    .logo img {
        margin-left: -40%;
    }

    .submenu li {
        margin-bottom: 16%;
        text-align: center;
        font-size: 24px;
    }

    .main-loja div.menu-lateral {
        display: block;
        position: fixed!important;
        height: 100%;
        padding-bottom:0px!important;
        transform: scale(0.8);
        text-align: center;
        margin-left: -20px;

        
    }

    li.cart {
        right:-14%!important;
        transform: scale(0.7);
        font-size: 40px;
    }

    li.cart button {
        width: 122px;
        height: 40px;
        font-size: 22px;
    }

    footer {
        font-size: 24px;
    }
    #nav-mid ul{
        margin-left:-10%;
        width:550px;
        

    }

    #nav-mid li {
        margin-right:7%;
    }

    .footer-bottom {
        font-size: 23px!important;
    }
}
@media screen and (min-width: 400px) and (max-width:597px) {
    .main-loja {
        padding-bottom: 80%!important;
    }
    
    .Fire-tech {
        display: none;
    }
    .lista {
        display: flex;
        position: relative;
        top: 430px;
        left: 28%;
        margin-bottom: 130px!important;
    }

    .item {

        width: 82%!important;
        font-size: 20px;

    }

    .footer-logo {
        display: none;

    }

    .logo img {
        margin-left: -40%;
    }

    .submenu li {
        margin-bottom: 16%;
        text-align: center;
        font-size: 24px;
    }

    .menu-lateral {
        display: block;
        position: fixed!important;
        height: 100%;
        padding-bottom:0px!important;
        margin-top: 12%!important;
        text-align: center;
        margin-bottom:-67%;
        transform: scale(0.8);
        margin-left: -20px;
        
    }

    .carrinho .cart {
        right:-28%!important;
        transform: scale(0.66);
        font-size: 40px;
        width: 430px!important;
        margin-top: 89px;
    
    }
    .cart button {
        width: 139px;
        height: 35px;
        font-size: 22px;
    }

    footer {
        font-size: 24px;
    }
    #nav-mid ul{
        margin-left:-25%;
        width:550px;
        

    }

    #nav-mid li {
        margin-right:7%;
    }

    .footer-bottom {
        font-size: 23px!important;
    }
    .logo {
        display: none!important;
    }
}
@media screen and (min-width: 300px) and (max-width:399px) {

    .main-loja {
        padding-bottom: 80%!important;
    }
    
    #nav-mid ul {
        margin-left: 0%!important;
    }

    .logo {
    display: none!important;
}
    .Fire-tech {
        display: none;
    }
    .lista {
        display: flex;
        position: relative;
        top: 340px;
        left: 21%;
        margin-bottom: 530px!important;
    }

    .item {

        width: 100%!important;
        font-size: 20px;

    }

    .footer-logo {
        display: none;

    }

    .logo img {
        margin-left: -40%;
    }

    .submenu li {
        margin-bottom: 16%;
        text-align: center;
        font-size: 24px;
    }

    .menu-lateral {
        display: block;
        position: fixed!important;
        height: 100%;
        padding-bottom:0px!important;
        text-align: center;
        margin-bottom:-67%;
        transform: scale(0.8);
        margin-left: -50px;
        
    }

    .cart {
        right:-38%!important;
        transform: scale(0.6);
        font-size: 40px;
        width: 450px!important;
        top:10%!important;
    }

    .cart button{

        width: 150px;
        height: 40px;
        font-size: 24px;
    }

    footer {
        font-size: 24px;
    }
    #nav-mid ul{
        margin-left:-35%;
        width:550px;
        font-size: 3.5vh;
        

    }

    

    #nav-mid li {
        margin-right:7%;
    }

    .footer-bottom {
        font-size: 23px!important;
    }
}