

@media screen and (min-width: 1620px) and (max-width:1950px) {

    .main-loja {
        margin-top: -5%!important;
        padding-bottom: 6%!important;
    }

    #nav-mid ul {
        margin-left:12%;
        font-size: 30px!important;
    }

   

    #nav-mid li {
        margin-left:2%;
        font-size: 30px!important;
    }

    .slide img {
        max-width: 400px;
        max-height: 400px;
    }



    .list-item-desc {
        display: grid;
        grid-template-columns: auto ;
        width: 100%;
        margin-top: 4%;
    }

    .list-item-desc h1 {
        display: flex;
        position: absolute;
        top: 20px!important;
        left: 480px!important;
        color: bisque;
        font-family: Teko, arial;
    }

    .description {
        width: 60%;
        margin-left: 25%;
        color: rgb(211, 209, 208);
        font-size: 17px;
        padding: 10px;
        z-index: 1;
    }
    

    .cart button {
        width: 100px;
        font-size: 20px;
    }
    .lista {
        display: flex;
        position: relative;
        margin-top:3%!important;
        padding-bottom: 0!important;
        
        
    }
    .item {
        position: relative;
        margin-left: 5%!important;
        width: fit-content;
        height: fit-content;
        margin-top: 15%!important;
    }

    .footer-bottom {
        font-size: 20px!important;
    }
    .sobre-texto {
        margin-top: 2%!important;
       }

    .footer-logo {
        display: none!important;


    }

    .submenu li {
        margin-bottom: 16%;
        text-align: center;
        font-size: 24px;
    }

    .menu-lateral {
        padding-bottom:10!important;
        margin-top: 8%!important;
        text-align: center;
        
    }

    footer {
        font-size: 24px;
    }
}

@media screen and (min-width: 1387px) and (max-width:1619px) {

    .main-loja {
        padding-bottom: 6%!important;
    }

    #nav-mid ul {
        margin-left:12%;
        font-size: 34px!important;
    }

    .slide img {
        max-width: 400px;
        max-height: 400px;
    }



    .list-item-desc {
        display: grid;
        grid-template-columns: auto ;
        width: 100%;
    }

    .list-item-desc h1 {
        display: flex;
        position: absolute;
        top: -200px!important;
        left: 400px!important;
        color: bisque;
        font-family: Teko, arial;
    }

    .description {
        width: 60%;
        margin-left: 25%;
        color: rgb(211, 209, 208);
        font-size: 17px;
        padding: 10px;
        z-index: 1;
        margin-top:-13%;
    }
    

    .lista {
        display: flex;
        position: relative;
        margin-top:3%!important;
        padding-bottom: 0!important;
        
        
    }
    .item {
        position: relative;
        margin-left: 2%!important;
        width: fit-content;
        height: fit-content;
        margin-top: 5%!important;
    }
    .cart button {
        width: 100px;
        font-size: 20px;
    }

    .footer-bottom {
        font-size: 20px!important;
    }
    .sobre-texto {
        margin-top: 2%!important;
       }
    .lista {
        display: flex;
        position: relative;
        top:-200px;
    }

    .footer-logo {

        display: none!important;

    }

    .submenu li {
        margin-bottom: 16%;
        text-align: center;
        font-size: 24px;
    }

    .menu-lateral {
        padding-bottom:10!important;
        margin-top: 8%!important;
        text-align: center;
        
    }

    footer {
        font-size: 24px;
    }
}
@media screen and (min-width: 1301px) and (max-width:1386px) {

    .main-loja {
        padding-bottom: 6%!important;
        margin-top: -1%!important;
    }

    .nav-mid-loja ul {
        margin-left:12%;
        font-size: 27px!important;
    }


    .cart button {
        width: 100px;
        font-size: 20px;
    }

    .footer-bottom {
        font-size: 20px!important;
    }
    .sobre-texto {
        margin-top: 2%!important;
       }

       .lista {
        display: flex;
        position: relative;
        top:-200px;
        padding: 0!important;
        top:0;
        bottom:0;
        
    }

    .item {
        
        margin: 0!important;
        width: fit-content;
        height: fit-content;
        margin:5%!important;
        margin-top: 5%!important;
        
    }

    .slide img {
        max-width: 400px;
        max-height: 400px;
    }

    .list-item-desc {
        display: grid;
        grid-template-columns: auto ;
        width: 100%;
        margin-top: 4%;
    }

    .list-item-desc h1 {
        display: flex;
        position: absolute;
        top: -300px!important;
        left: 340px;
        color: bisque;
        font-family: Teko, arial;
    }

    .description {
        width: 60%;
        margin-left: 25%;
        color: rgb(211, 209, 208);
        font-size: 17px;
        padding: 10px;
        z-index: 1;
    }


    .footer-logo {

        display: none!important;

    }

    .submenu li {
        margin-bottom: 16%;
        text-align: center;
        font-size: 18px;
    }

    .menu-lateral {
        
        padding-bottom:10!important;
        margin-top: 8%!important;
        text-align: center;
        z-index: 3;
        
    }

    footer {
        font-size: 18px;
    }
}

@media screen and (min-width: 1257px) and (max-width:1300px) {


    .slide img {
        max-width: 100%;
        max-height: 100%;
    }



    .list-item-desc {
        display: grid;
        grid-template-columns: auto ;
        width: 100%;
    }

    .list-item-desc h1 {
        display: flex;
        position: absolute;
        top: -380px!important;
        left: 25%!important;
        color: bisque;
        font-family: Teko, arial;
    }

    .description {
        width: 60%;
        margin-left: 25%;
        color: rgb(211, 209, 208);
        font-size: 17px;
        padding: 10px;
        z-index: 1;
        margin-top:-13%;
    }
    

    .lista {
        display: flex;
        position: relative;
        margin-top:-11%!important;
        padding-bottom: 0!important;
        max-width: 70%!important;
        
        
    }
    .item {
        position: relative;
        margin-left: 1%!important;
        width: fit-content;
        height: fit-content;
        margin-top: 5%!important;
        transform: scale(1.1)!important;
    }
    #nav-mid ul {
        margin-left:12%;
        font-size: 35px!important;
    }

    .cart button {
        width: 100px;
        font-size: 20px;
    }

    .footer-bottom {
        font-size: 20px!important;
    }
    .sobre-texto {
        margin-top: 2%!important;
       }
    .sobre-texto a {
        overflow-wrap: break-word;
       }
    .lista {
        display: flex;
        position: relative;
        top: -200px;
        
    }

    .item {
        transform: scale(1.8);
        margin-left: 60px!important;

    }



    .footer-logo {
        display: none!important;
    }

    .submenu li {
        margin-bottom: 16%;
        text-align: center;
        font-size: 24px;
    }

    .menu-lateral {
        padding-bottom:10!important;
        margin-top: 8%!important;
        text-align: center;
        
    }

    .cart {
        left:100%!important;
    }

    footer {
        font-size: 24px;
    }
    .logo {
        display: none!important;
    }
    .main-contato {
        margin:0!important;
        padding: 0!important;
        display: flex;
        flex-direction: column;
        text-align: center!important;
        transform: scale(1.6);
        width: 100%;
    }

    .main-contato p{
        font-size: 30px;
    }

    .contato-container {
        margin-top: 30%;
        margin-bottom:20%;
    }

    .nav-mid-loja ul{

        width:550px;
        transform: scale(1.0);
   
            
        }
    .nav-mid-loja li {
        margin-right:7%!important;
        }

    fieldset {
        transform: scale(1.0);
        margin-bottom:5%!important;
    }

    .form-container {
        margin-bottom: 330px!important;
    }
}
@media screen and (min-width: 1000px) and (max-width:1256px) {

    .slide img {
        max-width: 100%;
        max-height: 100%;
    }



    .list-item-desc {
        display: grid;
        grid-template-columns: auto ;
        width: 100%;
    }

    .list-item-desc h1 {
        display: flex;
        position: absolute;
        top: -380px!important;
        left: 25%!important;
        color: bisque;
        font-family: Teko, arial;
    }

    .description {
        width: 60%;
        margin-left: 25%;
        color: rgb(211, 209, 208);
        font-size: 17px;
        padding: 10px;
        z-index: 1;
        margin-top:-5%;
    }
    

    .lista {
        display: flex;
        position: relative;
        margin-top:-11%!important;
        padding-bottom: 0!important;
        max-width: 80%!important;
        
        
    }
    .item {
        position: relative;
        margin-left: 1%!important;
        width: fit-content;
        height: fit-content;
        margin-top: 5%!important;
        transform: scale(1.0)!important;
    }
    .main-loja {
        margin-top: -5%!important;
        padding-bottom: 6%!important;
    }

    #nav-mid ul {
        margin-left:12%!important;
        font-size: 30px!important;
    }

    .cart button {
        width: 100px;
        font-size: 20px;
    }

    .footer-bottom {
        font-size: 16px!important;
    }
    .sobre-texto a {
        overflow-wrap: break-word;
       }
    .lista {
        display: flex;
        position: relative;
        top: -50px;
    }


    .footer-logo {
        display: none!important;

    }

    .submenu li {
        margin-bottom: 16%;
        text-align: center;
        font-size: 18px;
    }

    .menu-lateral {
        padding-bottom:0px!important;
        margin-top: 12%!important;
        text-align: center;
        margin-bottom:-67%;
        
    }

    .cart {
        right:-20%!important;
        transform: scale(1.0);
    }

    footer {
        font-size: 18px;
    }
    .logo {
        display: none!important;
    }
    .main-contato {
        margin:0!important;
        padding: 0!important;
        display: flex;
        flex-direction: column;
        text-align: center!important;
        transform: scale(1.4);

    }

    .main-contato p{
        font-size: 30px;
    }

    .contato-container {
        margin-top: 30%;
        margin-bottom:20%;
    }

    .nav-mid-loja ul{

        width:550px;
        transform: scale(1.0);
   
            
        }
    .nav-mid-loja li {
        margin-right:9%!important;
        }

    fieldset {
        transform: scale(1.0);
        margin-bottom:5%!important;
    }

    .form-container {
        margin-bottom: 330px!important;
    }
}
@media screen and (min-width: 780px) and (max-width:999px) {

    .slide img {
        max-width: 100%;
        max-height: 100%;
    }



    .list-item-desc {
        display: grid;
        grid-template-columns: auto ;
        width: 100%;
    }

    .list-item-desc h1 {
        display: flex;
        position: absolute;
        top: -380px!important;
        left: 25%!important;
        color: bisque;
        font-family: Teko, arial;
    }

    .description {
        width: 60%;
        margin-left: 25%;
        color: rgb(211, 209, 208);
        font-size: 17px;
        padding: 10px;
        z-index: 1;
        margin-top:-5%;
    }
    

    .lista {
        display: flex;
        position: relative;
        margin-top:-11%!important;
        padding-bottom: 0!important;
        max-width: 80%!important;
        
        
    }
    .item {
        position: relative;
        margin-left: 1%!important;
        width: fit-content;
        height: fit-content;
        margin-top: 5%!important;
        transform: scale(1.0)!important;
    }
    .main-loja {
        margin-top: -5%!important;
        padding-bottom: 6%!important;
    }

    #nav-mid ul {
        margin-left:12%!important;
        font-size: 30px!important;
    }

    .cart button {
        width: 100px;
        font-size: 20px;
    }

    .footer-bottom {
        font-size: 16px!important;
    }
    .sobre-texto a {
        overflow-wrap: break-word;
       }
    .lista {
        display: flex;
        position: relative;
        top: -50px;
    }


    .footer-logo {
        display: none!important;

    }

    .submenu li {
        margin-bottom: 16%;
        text-align: center;
        font-size: 18px;
    }

    .menu-lateral {
        padding-bottom:0px!important;
        margin-top: 19%!important;
        text-align: center;
        margin-bottom:-67%;
        
    }

    .cart {
        right:-20%!important;
        transform: scale(1.0);
    }

    footer {
        font-size: 18px;
    }
    .logo {
        display: none!important;
    }

    #nav-mid {
        padding: 60px!important;
    }
    .nav-mid-loja ul{
        margin-left: -2%;
        width:650px;
        transform: scale(1.0);
   
            
        }
    .nav-mid-loja li {
        margin-right:8%!important;
        }
}
@media screen and (min-width: 750px) and (max-width:779px) {
    .slide img {
        max-width: 100%;
        max-height: 100%;
        
    }

    .slides {
        transform: scale(0.8);
    }


    .list-item-desc {
        display: grid;
        grid-template-columns: auto ;
        width: 100%;
    }

    .list-item-desc h1 {
        display: flex;
        position: absolute;
        top: -260px!important;
        left: 35%!important;
        color: bisque;
        font-family: Teko, arial;
    }

    .description {
        width: 60%;
        margin-left: 29%;
        color: rgb(211, 209, 208);
        font-size: 17px;
        padding: 10px;
        z-index: 1;
        margin-top:-24%;
    }
    

    .lista {
        display: flex;
        position: relative;
        margin-top:-11%!important;
        padding-bottom: 0!important;
        max-width: 80%!important;
        
        
    }
    .item {
        position: relative;
        margin-left: 8%!important;
        width: 320px!important;
        height: fit-content;
        margin-top: -5%!important;
        transform: scale(1.0)!important;
    }
    .main-loja {
        margin-top: -5%!important;
        padding-bottom: 6%!important;
    }

    #nav-mid ul {
        margin-left:12%!important;
        font-size: 30px!important;
    }

    .cart button {
        width: 100px;
        font-size: 20px;
    }

    .footer-bottom {
        font-size: 16px!important;
    }
    .sobre-texto a {
        overflow-wrap: break-word;
       }
    .lista {
        display: flex;
        position: relative;
        top: -150px;
        margin-left: 30%!important;
    }


    .footer-logo {
        display: none!important;

    }

    .submenu li {
        margin-bottom: 16%;
        text-align: center;
        font-size: 18px;
    }

    .menu-lateral {
        padding-bottom:0px!important;
        margin-top: 22%!important;
        text-align: center;
        margin-bottom:-67%;
        
    }

    .cart {
        right:-20%!important;
        transform: scale(1.0);
    }

    footer {
        font-size: 18px;
    }
    .logo {
        display: none!important;
    }
    .main-contato {
        margin:0!important;
        padding: 0!important;
        display: flex;
        flex-direction: column;
        text-align: center!important;
        transform: scale(1.4);

    }

    .main-contato p{
        font-size: 30px;
    }

    .contato-container {
        margin-top: 30%;
        margin-bottom:20%;
    }

    .nav-mid-loja ul{

        width:550px;
        transform: scale(1.0);
   
            
        }
    .nav-mid-loja li {
        margin-right:9%!important;
        }
}
@media screen and (min-width: 700px) and (max-width:749px) {
    .slide img {
        max-width: 100%;
        max-height: 100%;
        
    }

    .slides {
        transform: scale(0.8);
    }


    .list-item-desc {
        display: grid;
        grid-template-columns: auto ;
        width: 100%;
    }

    .list-item-desc h1 {
        display: flex;
        position: absolute;
        top: -260px!important;
        left: 35%!important;
        color: bisque;
        font-family: Teko, arial;
    }

    .description {
        width: 60%;
        margin-left: 29%;
        color: rgb(211, 209, 208);
        font-size: 17px;
        padding: 10px;
        z-index: 1;
        margin-top:-24%;
    }
    

    .lista {
        display: flex;
        position: relative;
        margin-top:-11%!important;
        padding-bottom: 0!important;
        max-width: 80%!important;
        
        
    }
    .item {
        position: relative;
        margin-left: 8%!important;
        width: 320px!important;
        height: fit-content;
        margin-top: -5%!important;
        transform: scale(1.0)!important;
    }
    .main-loja {
        margin-top: -5%!important;
        padding-bottom: 6%!important;
    }

    #nav-mid ul {
        margin-left:2%!important;
        font-size: 30px!important;
    }

    .cart button {
        width: 100px;
        font-size: 20px;
    }

    .footer-bottom {
        font-size: 16px!important;
    }
    .sobre-texto a {
        overflow-wrap: break-word;
       }
    .lista {
        display: flex;
        position: relative;
        top: -150px;
        margin-left: 30%!important;
    }


    .footer-logo {
        display: none!important;

    }

    .submenu li {
        margin-bottom: 16%;
        text-align: center;
        font-size: 18px;
    }

    .menu-lateral {
        padding-bottom:0px!important;
        margin-top: 32%!important;
        text-align: center;
        margin-bottom:-67%;
        
    }

    .cart {
        right:-20%!important;
        transform: scale(1.0);
    }

    footer {
        font-size: 18px;
    }
    .logo {
        display: none!important;
    }
    .main-contato {
        margin:0!important;
        padding: 0!important;
        display: flex;
        flex-direction: column;
        text-align: center!important;
        transform: scale(1.4);

    }

    .main-contato p{
        font-size: 30px;
    }

    .contato-container {
        margin-top: 30%;
        margin-bottom:20%;
    }

    .nav-mid-loja ul{

        width:850px!important;
        transform: scale(1.0);
   
            
        }
    .nav-mid-loja li {
        margin-right:8%!important;
        }
}
@media screen and (min-width: 598px) and (max-width:699px) {
    .slide img {
        max-width: 100%;
        max-height: 100%;
        
    }

    .slides {
        transform: scale(0.8);
    }


    .list-item-desc {
        display: grid;
        grid-template-columns: auto ;
        width: 100%;
    }

    .list-item-desc h1 {
        display: flex;
        position: absolute;
        top: -260px!important;
        left: 35%!important;
        color: bisque;
        font-family: Teko, arial;
    }

    .description {
        width: 60%;
        margin-left: 29%;
        color: rgb(211, 209, 208);
        font-size: 17px;
        padding: 10px;
        z-index: 1;
        margin-top:-24%;
    }
    

    .lista {
        display: flex;
        position: relative;
        margin-top:-11%!important;
        padding-bottom: 0!important;
        max-width: 80%!important;
        
        
    }
    .item {
        position: relative;
        margin-left: 8%!important;
        width: 320px!important;
        height: fit-content;
        margin-top: -5%!important;
        transform: scale(1.0)!important;
    }
    .main-loja {
        margin-top: -5%!important;
        padding-bottom: 3%!important;
    }

    #nav-mid ul {
        margin-left:2%!important;
        font-size: 26px!important;
    }
    #nav-mid li {
        margin-left:3%;
    }

    .cart button {
        width: 100px;
        font-size: 20px;
    }

    .footer-bottom {
        font-size: 16px!important;
    }
    .sobre-texto a {
        overflow-wrap: break-word;
       }
    .lista {
        display: flex;
        position: relative;
        top: -150px;
        margin-left: 30%!important;
    }


    .footer-logo {
        display: none!important;

    }

    .submenu li {
        margin-bottom: 16%;
        text-align: center;
        font-size: 15px;
    }

    .menu-lateral {
        padding-bottom:0px!important;
        margin-top: 22%!important;
        text-align: center;
        margin-bottom:-67%;
        width: 140px!important;
        
    }

    .nav-mid-loja li .cart {
        right:-20%!important;
        transform: scale(1.0);
        margin-bottom: -200px!important;
    }

    footer {
        font-size: 18px;
    }
    .logo {
        display: none!important;
    }


    .contato-container {
        margin-top: 30%;
        margin-bottom:20%;
    }
    #nav-mid {
        padding: 60px!important;
    }
    .nav-mid-loja ul{

        width:850px!important;
        transform: scale(1.0);
   
            
        }

}
@media screen and (min-width: 400px) and (max-width:597px) {


    .slide img {
        min-width: 100%!important;
        min-height: 100%!important;
        
        
    }

    .slides {
        transform: scale(1);
        margin-left: -13.5%;
    }


    .list-item-desc {
        display: grid;
        grid-template-columns: auto ;
        width: 100%;
    }

    .list-item-desc h1 {
        display: flex;
        position: absolute;
        top: -260px!important;
        left: 35%!important;
        color: bisque;
        font-family: Teko, arial;
    }

    .description {
        width: 49%;
        margin-left: 26.5%;
        color: rgb(211, 209, 208);
        font-size: 17px;
        padding: 10px;
        z-index: 1;
        margin-top:25%;
    }

    .main-loja {
        padding-bottom:10%!important ;
        width: 100%!important;
    }

    .logo {
        display: none!important;
    }
    .main-contato {
        margin:0!important;
        padding: 0!important;
        display: flex;
        flex-direction: column;
        text-align: center!important;

    }

    .main-contato p{
        font-size: 30px;
    }

    .contato-container {
        margin-top: 30%;
        margin-bottom:20%;
    }

    .nav-mid-loja ul{

        width:550px;
        transform: scale(1.0);
        margin-left:-55px!important;
   
            
        }
    .nav-mid-loja li {
        margin-right:7%!important;
        }

    fieldset {
        margin-left: -80%!important;
        transform: scale(1.0);
        margin-bottom:5%!important;
    }
    main {
        margin:0!important;
    }
    .sobre-texto {
        margin-top: 35%!important;
       }

    .sobre-texto img {
        width: 100%!important;
    }
    .sobre-texto h2 {
        margin-bottom:20px;
        transform: scale(1.1);
    }

    .sobre-texto p {
        font-size: 29px;
    }
    .sobre-texto a {
        overflow-wrap: break-word;
       }
    .Fire-tech {
        display: none;
    }
    .lista {
        display: flex;
        position: relative;
        top: 160px!important;
        left: 8%;
        margin-top:-5%!important;
        padding: 0!important;
    }

    .item {

        width: 500px!important;
        height: fit-content!important;
        font-size: 20px;
        margin-top: 1%!important;

    }

    .footer-logo {
        display: none;

    }

    .logo img {
        margin-left: -40%;
    }

    .submenu li {
        margin-bottom: 16%;
        text-align: center;
        font-size: 20px;
    }

    .menu-lateral {
        display: block;
        position: fixed!important;
        height: 100%;
        width: 140px!important;
        padding-bottom:0px!important;
        text-align: center;
        margin-bottom:-67%;
        transform: scale(0.7)!important;
        margin-left: -20px;
        z-index: 10;
        margin-top: -8%!important;
 
        
    }

    .main-contato img {
        display: none!important;
    }
    .cart {
        transform: scale(0.5);
        font-size: 40px;
        bottom: 10%!important;
        right:10%!important;
        width: 400px!important;
    }

    .cart button {
        width: 100px!important;
        font-size: 21px!important;
    }

    footer {
        font-size: 18px;
        z-index: 12!important;
    }
    #nav-mid ul{
        margin-left:-1%!important;
        width:550px;
        

    }
    #nav-mid {
        padding: 50px!important;
        
    }
    .footer-social {
        margin-left: -11%!important;
    }

    #nav-mid li {
        margin-right:7%;
        font-size: 21px!important;
    }

    .footer-bottom {
        font-size: 16px!important;
    }
}
@media screen and (min-width: 300px) and (max-width:399px) {
    

    .slide img {
        min-width: 100%!important;
        min-height: 100%!important;
        
        
    }

    .slides {
        transform: scale(1);
        margin-left: -13.5%;
    }


    .list-item-desc {
        display: grid;
        grid-template-columns: auto ;
        width: 100%;
    }

    .list-item-desc h1 {
        display: flex;
        position: absolute;
        top: -260px!important;
        left: 35%!important;
        color: bisque;
        font-family: Teko, arial;
    }

    .description {
        width: 49%;
        margin-left: 22.5%;
        color: rgb(211, 209, 208);
        font-size: 17px;
        padding: 10px;
        z-index: 1;
        margin-top:25%;
    }

    .main-loja {
        padding-bottom:10%!important ;
        width: 100%!important;
    }

    .logo {
        display: none!important;
    }
    .main-contato {
        margin:0!important;
        padding: 0!important;
        display: flex;
        flex-direction: column;
        text-align: center!important;

    }

    .main-contato p{
        font-size: 30px;
    }

    .contato-container {
        margin-top: 30%;
        margin-bottom:20%;
    }

    .nav-mid-loja ul{

        width:550px;
        transform: scale(1.0);
        margin-left:-55px!important;
   
            
        }
    .nav-mid-loja li {
        margin-right:7%!important;
        }

    fieldset {
        margin-left: -80%!important;
        transform: scale(1.0);
        margin-bottom:5%!important;
    }
    main {
        margin:0!important;
    }
    .sobre-texto {
        margin-top: 35%!important;
       }

    .sobre-texto img {
        width: 100%!important;
    }
    .sobre-texto h2 {
        margin-bottom:20px;
        transform: scale(1.1);
    }

    .sobre-texto p {
        font-size: 29px;
    }
    .sobre-texto a {
        overflow-wrap: break-word;
       }
    .Fire-tech {
        display: none;
    }
    .lista {
        display: flex;
        position: relative;
        top: 160px!important;
        left: 4.2%;
        margin-top:-5%!important;
        padding: 0!important;
    }

    .item {

        width: 500px!important;
        height: fit-content!important;
        font-size: 20px;
        margin-top: 1%!important;

    }

    .footer-logo {
        display: none;

    }

    .logo img {
        margin-left: -40%;
    }

    .submenu li {
        margin-bottom: 16%;
        text-align: center;
        font-size: 20px;
    }

    .menu-lateral {
        display: block;
        position: fixed!important;
        height: 100%;
        width: 140px!important;
        padding-bottom:0px!important;
        text-align: center;
        margin-bottom:-67%;
        transform: scale(0.7)!important;
        margin-left: -20px;
        z-index: 10;
        margin-top: -8%!important;
 
        
    }

    .main-contato img {
        display: none!important;
    }
    .cart {
        transform: scale(0.5);
        font-size: 40px;
        bottom: 10%!important;
        right:10%!important;
        width: 400px!important;
    }

    .cart button {
        width: 100px!important;
        font-size: 21px!important;
    }

    footer {
        font-size: 18px;
        z-index: 12!important;
    }
    #nav-mid ul{
        margin-left:-5%!important;
        width:550px;
        

    }
    #nav-mid {
        padding: 40px!important;
        
    }
    .footer-social {
        margin-left: -11%!important;
    }

    #nav-mid li {
        margin-right:6%;
        font-size: 21px!important;
    }

    .footer-bottom {
        font-size: 16px!important;
    }
}