
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    column-count: 2;
    
}

#nav-top {
    position: absolute;
    background-color: #232323;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 50;
    
}

#nav-top.hidden {
    top: -90px;
    z-index: -50;
}

.sobre {
    border-bottom: 0.3em solid #f7731e;
    background-color:#ffffff;
    color: #f7731e;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative ;
    left: 0;
    top: 12%;
    height: 6vh;
    width: 100%;
}
#nav-mid {
    background-color: #232323;
    color: #ffffff;
    padding: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 6vh;
    width: 100%;
    list-style-type: none;
    top: 6vh;
    
}

#nav-mid.hidden {
    top: -90px;
    z-index: -50;

}

#nav-bot {
    align-self: start;
    border-top: 0.3em solid #f7731e;
    background-color:#ffffff;
    color: #232323;
    display: flex;
    justify-content:center;
    align-items: center;
    position: absolute ;
    left: 0;
    top: 18%;
    height: 6vh;
    width: 100%;
}
    

#nav-bot.hidden {
    top: -90px;
    z-index: -50;
}

#nav-top.hidden {
    top: -90px;
    z-index: -50;

}

.logo img {
    width: 8vh;
}

.logo img:nth-child(2) {
    width: 5.6em;
    margin-bottom:0.4em;
}

.categorias {
    list-style-type: none;
}



nav li {
    display: inline;
    margin-right: 20px;
}

.nav-mid a {
    color: #ffffff;
}

nav a {
    text-decoration: none;
    color: #232323;
}


section {
    padding: 20px;
}

button.buy-button {
    background-color: #f00;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button.buy-button:hover {
    background-color: #ff5555;
}

.slides {
    position:relative;
    margin-top: 10%;   
    max-width: 100%;
    overflow: hidden;
}

.slide {
    display: none;
}

.slide img {
    width: 50%;
}

.fade {
    animation-name: fade;
    animation-duration: 3s;
}

@keyframes fade {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

.prev, .next {
    background-color: #232323; 
    color: #ffffff;
    font-size: 20px; 
    padding: 10px 15px;
    border: none; 
    cursor: pointer;
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 

}

.prev:hover, .next:hover {
    background-color:  #f7731e;

}

.prev{
    left: 10px;

}

.next{
    right: 10px; 

}
