
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&family=Teko:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    column-count: 2;
    
}

#nav-top {
    position: absolute;
    background-color: #23232300;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 50;
    transition: top 0.3s;
    font-family: Teko;
    font-weight: 200;
    font-size: 4vh;

    
}

#nav-top.hidden {
    top: -90px;
    z-index: -50;
}

.sobre {
    background-color:#ffffff02;
    color: #f7731e;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative ;
    left: 0;
    top: 12%;
    height: 6vh;
    width: 100%;
}
#nav-mid {
    background-color: #232323;
    color: #ffffff;
    padding: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 6vh;
    width: 100%;
    list-style-type: none;
    top: 6vh;
    z-index: 100;
    transition: top 0.3s; 
    border-bottom: 4px solid #f7731e;
    font-family: Teko;
    font-weight: 200;
    font-size: 4vh;
    
}

#nav-mid.hidden {
    top:0;


}

#nav-bot {
    align-self: start;
    border-top: 0.3em solid #f7731e;
    background-color: #2323230e;
    color: #ffffff;
    display: flex;
    justify-content:center;
    align-items: center;
    position: absolute ;
    left: 0;
    top: 22%;
    height: 6vh;
    width: 100%;
    transition: top 0.3s;
    font-family: Teko;
    font-weight: 200;
    font-size: 4vh;

}
    

#nav-bot.hidden {
    top: -90px;
    z-index: -50;
}

#nav-top.hidden {
    top: -90px;
    z-index: -50;

}

.logo img {
    width: 8vh;
}

.logo img:nth-child(2) {
    width: 5.6em;
    margin-bottom:0.4em;
}

.categorias {
    list-style-type: none;
}



nav li {
    display: inline;
    margin-right: 20px;
}

#nav-mid a {
    color: #ffffff;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}


.entrada {
    padding: 20px;
    background-color: #232323;
    background-image: linear-gradient(to top, rgba(247, 115, 30, 0.5) 20% , rgba(49, 168, 221, 0.00)60%, rgba(35, 35, 35, 0.7));
    
}

button.buy-button {
    background-color: #f00;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button.buy-button:hover {
    background-color: #ff5555;
}

.slides {
    position:relative;
    margin-top: 15%;   
    max-width: 100%;
    overflow: hidden;

}

.slide {
    display: flex;
    justify-content: center; 
    align-items: center;
    box-sizing: border-box; 

}

.slide img {
    
    width: 70%;
    height: 60%;
    margin-left: 15%;
    border: 5px solid #1e4ef7;

}

.fade {
    animation-name: fade;
    animation-duration: 3s;
}

@keyframes fade {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

.prev, .next {
    background-color: #232323; 
    color: #ffffff;
    font-size: 20px; 
    padding: 10px 15px;
    border: none; 
    cursor: pointer;
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 

}

.prev:hover, .next:hover {
    background-color:  #f7731e;

}

.prev{
    left: 10px;

}

.next{
    right: 10px; 

}
