

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Raleway:wght@400;700;900&family=Teko:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0; 
    background-image: url("../Landing-page/assets/imagens/AdobeStock_235968551.jpeg"); 
    background-size: cover; 
    background-attachment: fixed;
    background-position: 20% 20%;
}

main {
    margin: 20px 20px 0 20px;
    padding: 20px 20px 0 20px; 

}

header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #232323;
        color: #ffffff;
        padding: 8vh;
        height: 6vh;
        width: 100%;
        list-style-type: none;
        font-family: Teko;
        font-weight: 200;
        font-size: 4vh;
        top: 0;
        position: fixed;
        z-index: 100;
    }

    .menu-toggle {
        cursor: pointer;
        margin-right: 15px;
    }

    #busca {
        display: none;
        min-width: 500px;
        text-align: center;
        background-color: #2323236e;
        padding: 10px;
    }
    #busca-input {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        background-color: #978d8d4f;
    }
    
    

.acesso {

    margin-right: 15%;
}

#busca {
    min-width: 500px;
    margin: 0 auto;
    text-align: center;
    background-color: #2323236e;
}

#busca-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #978d8d4f;
}

.categorias {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #313131;
    color: #ffffff;
    left: 0;
    top: 100%;
    width: 200px;
    z-index: 50;
}

.hidden {
    display: none !important;
}

#nav-top {
    position: absolute;
    background-color: #313131;
    position: fixed;
    top: 0;
    display: flex;
    max-height: 3vh;
    align-items: center;
    width: 100%;
    z-index: 50;
    transition: top 0.6s;
    font-family: Teko;
    font-weight: 200;
    font-size: 3.5vh;

    
}

#nav-top.hidden {
    top: -90px;
    z-index: -50;
}

.sobre {
    background-color:#ffffff02;
    color: #f7731e;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative ;
    left: 0;
    top: 12%;
    height: 6vh;
    width: 100%;
}
#nav-mid {
    background-color: #232323;
    color: #ffffff;
    padding: 8vh;
    display: flex;
    justify-content:space-between;
    align-items:center;
    position: fixed;
    height: 6vh;
    width: 100%;
    list-style-type: none;
    top: 3vh;
    z-index: 100;
    transition: top 0.6ms;
    font-family: Teko;
    font-weight: 200;
    font-size: 4vh;
    top: 0;
    
}

/* #nav-mid.hidden {
    top:0;


} */

#nav-bot {
    align-self: start;
    background-color: #313131;
    color: #ffffff;
    display: flex;
    justify-content:center;
    align-items: center;
    position: absolute ;
    left: 0;
    top: 18%;
    height: 6vh;
    width: 100%;
    transition: top 0.6s;
    font-family: Teko;
    font-weight: 200;
    font-size: 4vh;

}
    

#nav-bot.hidden {
    top: -90px;
    z-index: -50;
}

#nav-top.hidden {
    top: -90px;
    z-index: -50;

}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 8vh;

}

.Fire-tech img {
    width: 3em;
    height: 1.5em;
    margin-left: 0.6em;
    margin-top: 0.8em;
}


.banner-principal {
    max-width: 100%;
}

.main-img img{
    max-width: 100%;
    position: relative;
    z-index: 20;
}



nav li {
    display: inline;
    margin-right: 20px;
}

#nav-mid a {
    color: #ffffff;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}


.entrada {
    background-color: #313131;  
    margin-top: -40px;  
    padding-top: 10px;
}

button.buy-button {
    background-color: #f00;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button.buy-button:hover {
    background-color: #ff5555;
}

.slides {
    position:relative;
    margin-top: 5.0%;   
    max-width: 100%;
    overflow: hidden;

}

.slide {
    display: flex;
    justify-content: center; 
    align-items: center;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 400px;

}

.slide img {

    width: 100%;
    height: 400px;

}
.banner-flutuante {
    margin: 0;
    max-height: 108.40px;
}
.banner-flutuante img {
    max-width: 100%;

}
.fade {
    animation-name: fade;
    animation-duration: 3s;
}

.display-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly; 
    position: absolute;
    z-index: 50;
    max-width: 540px;
    height: fit-content;
    margin-left: 650px;
    margin-top: 110px;

}

.display-container img { 
    width: 170px;
    height: 170px;
    margin-bottom: 10px;
    margin-right: 10px
}


@keyframes fade {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

.prev, .next {
    background-color: #232323; 
    color: #ffffff;
    font-size: 20px; 
    padding: 10px 15px;
    border: none; 
    cursor: pointer;
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 

}

.prev:hover, .next:hover {
    background-color:  #f7731e;

}

.prev{
    left: 10px;

}

.next{
    right: 10px; 

}

.slider-container {
    margin-top: 11px;
    display: flex;
    overflow: hidden;
    position: relative;
    background-color: #555555cc;
    height: 237.938px;
    background: linear-gradient(to right, rgba(255, 0, 0, 0) 20%, #555555cc 20%);

}

.slider-container p {
    margin-top: 1px;
}

.video-slide {
    flex: 1;
    position: relative;
    display: flex;
    opacity: 0;
    transition: opacity 1s ease;
    left: -5px;
    
}

.video-slide.active {
    opacity: 1;
    max-width: 433px;
    height: 237.938px;

}

video {
    width: 433px;
    height: 237.938px;
    z-index: 2;
    
    
}

.video-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.texto-video1 {
    display: flex;
    padding:30px;
    padding-right: 400px;
    position: absolute;
    height: 237.938px;
    width: 846px;
    margin-left: 422px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-decoration: none;
    color: white;
    
}

.texto-video1 p {
    border:none;
}

.texto-video1 a {

    text-decoration: none;

}

.texto-video1 img {

    position: absolute;
    margin-left: 770px;
    width: 40px;
    margin-top: 150px;

}
.texto-video2 {
    display: flex;
    padding:30px 0 30px 30px;
    position: absolute;
    height: 237.938px;
    margin: 0 auto; 
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-decoration: none;
    z-index: 1;
    margin-left: 400px;
    width: 400px;
}
.texto-video2 .p-left {  
    color: white;
    margin-left: -830px;


}

.texto-video2 .p-right {
    padding-left: 540px;
    color: white;
    width: 393;
    margin-left: -140px;
    margin-right: 50px;


  
}

.texto-video2 a {

    text-decoration: none;

}

.texto-video2 img {

    position: absolute;
    margin-left: 770px;
    width: 40px;
    margin-top: 150px;

}
.texto-video3 {
    display: flex;
    padding:30px;
    height: 237.938px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-decoration: none;
    float: left;
    margin-left: -580px;
    padding-right: 430px;
    
}


.texto-video3 p {
    position: static;
    color: white
}

.texto-video3 a {

    text-decoration: none;

}

.texto-video3 img {

    position: absolute;
    width: 40px;
    margin-top: 150px;

}

#video1 {
    margin-left: -20px;
}
#video2 {
    margin-left: -427px;
    width: max-content;
    background-color: #1b1b1b00;
    padding-left: 20px;
}



footer {
    background-color: #1b1b1b;
    color: #555;
    padding: 40px 0;
    position: relative;
}


.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-social ul {
    margin-top: -7px;
    margin-left: 60px;
}
.footer-social i {
    margin-right: 10px;
    font-size: 24px;
}

.footer-social img {
    width: 22px;
    margin-bottom: -2px;
    margin-right: -2px;
}



.footer-logo img {
    display: flex;
    position: absolute;
    max-width: 14%;
    margin-left:1160px;
    margin-top: -149px;
    opacity: 0.3;

}

.footer-info, .footer-links, .footer-social {
    flex: 1;
    margin: 0px 20px 20px 20px;
}

.footer-links p {
    margin-bottom: 15px ;
}

.footer-info p {
    margin-bottom: 18px;

}

.footer-links ul, .footer-social ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li, .footer-social ul li {
    margin-bottom: 8px;
}

.footer-links ul li a, .footer-social ul li a {
    color: #5f5f5f;
    text-decoration: none;
}

.footer-links ul li a:hover, .footer-social ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #555;
    font-size: 14px;
}

.footer-bottom p {
    margin: 0;
}

