
.slider-container {
    display: flex;
    overflow: hidden;
}


.video-slide {
    flex: 0 0 100%;
    display: none;
}

.video-slide.active {
    display: block;
}


.texto-video1, .texto-video2, .texto-video3 {
    text-align: center;
    margin-top: 10px;
}
