body {
    font-family:'arial', 'Lucida Sans Regular', 'Lucida Grande';
}

h1 {
    background-color:rgb(220, 234, 240);
    padding: 10px;
    text-align: center;
    
}

.cabecalho {
    text-align: center;
}

h2 {
    background-color:rgb(239, 239, 241);
    padding: 10px;

}